(logging) {
  log {
    output stdout
    format json
    level INFO
  }
}

{$DNSLINK_DOMAIN:localhost} {
  reverse_proxy kubo:8080

  import logging
}

:8080 {
  reverse_proxy kubo:8080

  import logging
}
