services:
  kubo:
    build: .
    restart: unless-stopped
    ports:
      - "4001:4001"
      - "4001:4001/udp"
    volumes:
      - ./ipfs-data:/data/ipfs

  caddy:
    image: caddy:latest
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
      - "8080:8080"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - ./caddy-data:/data
    depends_on:
      - kubo
