<!-- About Section
================================================== -->
<section id="about">

    <div class="row">

        <div class="three columns">
            <img class="profile-pic"  src="images/jwface.png" alt="" />
        </div>

        <div class="nine columns main-col">
            <h2>About Me</h2>
            <p>
                I first discovered programming when I was 10 years old, and it has been my passion ever since. My uncle gave me a little dev board for christmas that year, and spent the break teaching me to code in C. Since then I've been enthralled with the idea of being able to build cool things with nothing but your mind, some hardware, and a text editor. I've spent the last few years learning everything I can about programming, and am currently continuing my education at Carleton University with a Bachelor's degree in Computer Science. In my spare time you can usually find me in a coffee shop enjoying a latte, reading a book, working on a cool new project, or just shooting the breeze with friends. Often all at the same time!
            </p>
            <p>
                <a href="images/Resume.pdf" target="_blank" class="button"><i class="fa fa-download"></i> Download Resume</a>
            </p>
        </div> <!-- end .main-col -->

    </div>

</section> <!-- About Section End-->
