<!-- Contact Section
================================================== -->
<section id="contact">

    <div class="row section-head">

        <div class="two columns header-col">

            <h1><span>Get In Touch.</span></h1>

        </div>

        <div class="ten columns">

            <p class="lead">
                I love meeting new people! Whether you're a fellow dev, a recruiter, a business looking for a website, or just an all-around cool person, feel free to hit me up via the form below. 100% <a href="https://www.youtube.com/watch?v=anwy2MPT5RE">spam-free</a>, guaranteed.
            </p>

        </div>

    </div>

    <div class="row">

        <div class="eight columns">

            <!-- form -->
            <form action="https://formspree.io/jaydenwindle@gmail.com" method="post" id="contactForm" name="contactForm">
                <fieldset>

                    <div>
                        <label for="contactName">Name <span class="required">*</span></label>
                        <input type="text" value="" size="35" id="contactName" name="name">
                    </div>

                    <div>
                        <label for="contactEmail">Email <span class="required">*</span></label>
                        <input type="text" value="" size="35" id="contactEmail" name="_replyto">
                    </div>

                    <div>
                        <label for="contactSubject">Subject</label>
                        <input type="text" value="" size="35" id="contactSubject" name="subject">
                    </div>

                    <div>
                        <label for="contactMessage">Message <span class="required">*</span></label>
                        <textarea cols="50" rows="15" id="contactMessage" name="message"></textarea>
                    </div>

                    <div>
                        <button class="submit">Submit</button>
                        <span id="image-loader">
                            <img alt="" src="images/loader.gif">
                        </span>
                    </div>

                </fieldset>
            </form> <!-- Form End -->

            <!-- contact-warning -->
            <div id="message-warning"> Error boy</div>
            <!-- contact-success -->
            <div id="message-success">
                <i class="fa fa-check"></i>Your message was sent, thank you!<br>
            </div>

        </div>


        <aside class="four columns footer-widgets">

            <div class="widget widget_contact">

                <h4>Fun Facts</h4>
                <p>
                    I grew up in a town of less than 1000 people.
                </p>
                <p>
                    I've watched every single episode of Macgyver ever produced (and all 3 TV movies).
                </p>
                <p>
                    I love to roast and brew my own coffee.
                </p>
                <p>
                    One of my dreams is to spend a summer hitchiking across Canada.
                </p>
            </div>

            <div class="widget widget_tweets">
                <!--<h4 class="widget-title">Latest Tweets</h4>-->

                <!--<ul id="twitter">-->
                    <!--<li>-->
                        <!--<span>-->
                            <!--This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.-->
                            <!--Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum-->
                            <!--<a href="#">http://t.co/CGIrdxIlI3</a>-->
                            <!--</span>-->
                        <!--<b><a href="#">2 Days Ago</a></b>-->
                        <!--</li>-->
                    <!--<li>-->
                        <!--<span>-->
                            <!--Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam,-->
                            <!--eaque ipsa quae ab illo inventore veritatis et quasi-->
                            <!--<a href="#">http://t.co/CGIrdxIlI3</a>-->
                            <!--</span>-->
                        <!--<b><a href="#">3 Days Ago</a></b>-->
                        <!--</li>-->
                    <!--</ul>-->

            </div>

        </aside>

    </div>

</section> <!-- Contact Section End-->
