    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="{{ 'assets/javascripts/bootstrap.min.js' | relative_path  }}" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/1.1.7/typed.min.js" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.2.6/vue.min.js" charset="utf-8"></script>
    <script src="{{ 'assets/js/app.js' | relative_path  }}" charset="utf-8"></script>
</body>
</html>

