    <footer>
        <div class="container">
            <hr />
            <div class="row">
                <div class="col-sm-6">
                    <p>&copy; <script>document.write(new Date().getFullYear())</script> Jayden Windle.</p>
                </div>
                <div class="col-sm-6 text-right">
                    {% include social_links.html %}
                </div>
            </div>
        </div>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="{{ site.url }}/assets/javascripts/bootstrap.min.js" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/1.1.7/typed.min.js" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.2.6/vue.min.js" charset="utf-8"></script>
    <script src="{{ site.url }}/assets/javascripts/app.js" charset="utf-8"></script>
</body>
</html>

