<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>{{page.tile}}</title>
    <link rel="stylesheet" href="{{ 'assets/style.css' | relative_url }}">
</head>
<body>

    <div class="jumbotron">
        <div class="container">
            <h1>{{page.jumbotron-title}}</h1>
            <h2>{{page.jumbotron-subtitle}}</h2>
            <div class="social-links">
                <a href="">
                    <i class="fa fa-github"></i>
                </a>
                <a href="">
                    <i class="fa fa-linkedin"></i>
                </a>
                <a href="">
                    <i class="fa fa-twitter"></i>
                </a>
                <a href="">
                    <i class="fa fa-envelope-o"></i>
                </a>
            </div>
        </div>
    </div>

