<div class="container projects" id="projects">
    {% if include.limit != nil %}
    <div class="row">
        <div class="col-xs-12">
            <h2 class="text-center">Projects</h2>
        </div>
    </div>
    {% endif %}
    <div class="row">
        {% for project in site.projects limit:include.limit %}
            <div class="col-md-4">
                <div class="thumbnail project-card">
                    <img class="img-responsive" src="{{project.image}}" alt="">
                    <div class="caption">
                        <h4>{{ project.name }}</h4>
                        <p class="description">{{ project.description }}</p>
                        <gh-info repo="{{project.repo}}"></gh-info>
                        <a href="https://github.com/{{project.repo}}" target="_blank" class="btn btn-primary btn-block btn-rounded" role="button">
                            Details
                        </a> 
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    {% if include.limit != nil %}
    <div class="row text-center all-projects">
        <a href="{{site.url}}/projects" class="btn btn-outline">All Projects <i class="fa fa-arrow-right"></i></a>
    </div>
    {% endif %}
</div>
