<!-- Resume Section
================================================== -->
<section id="resume">

    <!-- Education -->
    <div class="row education">

        <div class="three columns header-col">
            <h1><span>Education</span></h1>
        </div>

        <div class="nine columns main-col">

            <div class="row item">

                <div class="twelve columns">

                    <h3>Carleton University</h3>
                    <p class="info">Bachelor of Computer Science <span>&bull;</span> <em class="date">2015 - Present</em> </p>

                    <p>
                        <strong>Stream:</strong> Computer and Internet Security <br />
                        <strong>CGPA:</strong> 10.57
                    </p>

                </div>

            </div> <!-- item end -->

        </div> <!-- main-col end -->

    </div> <!-- End Education -->


    <!-- Work -->
    <div class="row work">

        <div class="three columns header-col">
            <h1><span>Work</span></h1>
        </div>

        <div class="nine columns main-col">

            <div class="row item">

                <div class="twelve columns">

                    <h3>Synopsys Inc.</h3>
                    <p class="info">Technical Intern - Software <span>&bull;</span> <em class="date">May 2016 - August 2016</em></p>

                    <p>
                    <ul style="list-style-type: square; margin-left: 20px;">
                        <li>
                            Developed high quality reusable internal tools to increase efficiency while debugging products. 
                        </li>
                        <li>
                            Worked with an agile team to add useful features to the main company product
                        </li>
                        <li>
                            Wrote extensive test cases in Python to catch any errors in the application before release
                        </li>
                    </ul>
                    </p>

                </div>

            </div> <!-- item end -->

            <div class="row item">

                <div class="twelve columns">

                    <h3>Freelance</h3>
                    <p class="info">Web Developer <span>&bull;</span> <em class="date">2012 - Present</em></p>

                    <p>
                    <ul style="list-style-type: square; margin-left: 20px;">
                        <li>
                            Created professional quality websites for a variety of businesses to increase sales and customer engagements
                        </li>
                        <li>
                            Increased proficiency in various programming languages and frameworks through self-motivated learning
                        </li>
                        <li>
                            Effectively negotiated with both potential and existing clients while improving customer service and communication skills
                        </li>
                        <li>
                            Collaborated effectively with teams from various advertising agencies to deliver top notch websites and apps to customers
                        </li>
                    </ul>
                    </p>

                </div>

            </div> <!-- item end -->

            <div class="row item">

                <div class="twelve columns">

                    <h3>Manitoulin Transport</h3>
                    <p class="info">IT Student Intern <span>&bull;</span> <em class="date">2013 - 2015</em></p>

                    <p>
                    <ul style="list-style-type: square; margin-left: 20px;">
                        <li>
                            Developed an in-depth understanding of the IT infrastructure of a large company while assisting internal users with a variety of software and hardware issues
                        </li>
                        <li>
                            Increased task efficiency by creating scripts to automate frequent repetitive tasks and reduce overhead
                        </li>
                    </ul> </p>

                </div>

            </div> <!-- item end -->


        </div> <!-- main-col end -->

    </div> <!-- End Work -->


    <!-- Skills -->
    <div class="row skill">

        <div class="three columns header-col">
            <h1><span>Skills</span></h1>
        </div>

        <div class="nine columns main-col">

            <div class="row text-center">
                <div class="three columns">
                    <i class="devicon-python-plain"></i>
                    <p><strong>Python</strong></p>
                </div>
                <div class="three columns">
                    <i class="devicon-javascript-plain"></i>
                    <p><strong>Javascript</strong></p>
                </div>
                <div class="three columns">
                    <i class="devicon-php-plain"></i>
                    <p><strong>PHP</strong></p>
                </div>
                <div class="three columns">
                    <i class="devicon-cplusplus-plain"></i>
                    <p><strong>C/C++</strong></p>
                </div>
            </div>
            <div class="row text-center">
                <div class="three columns">
                    <i class="devicon-html5-plain"></i>
                    <p><strong>HTML5</strong></p>
                </div>
                <div class="three columns">
                    <i class="devicon-css3-plain"></i>
                    <p><strong>CSS</strong></p>
                </div>
                <div class="three columns">
                    <i class="devicon-wordpress-plain"></i>
                    <p><strong>Wordpress</strong></p>
                </div>
                <div class="three columns">
                    <i class="devicon-nodejs-plain"></i>
                    <p><strong>Node.js</strong></p>
                </div>
            </div>
            <div class="row text-center">
                <div class="three columns">
                    <i class="devicon-linux-plain"></i>
                    <p><strong>Linux</strong></p>
                </div>
                <div class="three columns">
                    <i class="devicon-mysql-plain"></i>
                    <p><strong>MySQL</strong></p>
                </div>
                <div class="three columns">
                    <i class="devicon-git-plain"></i>
                    <p><strong>Git</strong></p>
                </div>
                <div class="three columns">
                    <i class="devicon-vim-plain"></i>
                    <p><strong>Vim</strong></p>
                </div>
            </div>

            <!--<div class="bars">-->

                <!--<ul class="skills">-->
                    <!--<li><span class="bar-expand photoshop"></span><em>Photoshop</em></li>-->
                    <!--<li><span class="bar-expand illustrator"></span><em>Illustrator</em></li>-->
                    <!--<li><span class="bar-expand wordpress"></span><em>Wordpress</em></li>-->
                    <!--<li><span class="bar-expand css"></span><em>CSS</em></li>-->
                    <!--<li><span class="bar-expand html5"></span><em>HTML5</em></li>-->
                    <!--<li><span class="bar-expand jquery"></span><em>jQuery</em></li>-->
                    <!--</ul>-->

            <!--</div>[> end skill-bars <]-->

        </div> <!-- main-col end -->

    </div> <!-- End skills -->

</section> <!-- Resume Section End-->

