/* Media queries for c&p */
/* Extra small devices (phones, less than 768px) */

.projects {
    h2 {
        margin-bottom: 50px;
        font-weight: 700;
    }
    .thumbnail {
        border: 1px solid #eee;
        @include shadow(1);
        img {
            border-radius: 2px;
        }
    }
    .caption {
        overflow: hidden;
        h4 {
            font-weight: 700;
        }
        .git-info {
            margin-bottom: 12.5px;
            margin-left: 0;
            margin-right: 0;
            border-top: 1px solid #ddd;
            border-bottom: 1px solid #ddd;
            text-align: center;
            padding: 10px 0;
        }
        .btn {
            display: block;
            padding: 10px;
            text-align: center;
        }
        .small {
            margin-bottom: 0px;
        }
    }
    .all-projects {
        padding: 25px 0;
        i {
            margin-left: 5px;
        }
    }
}

.quotes {
    margin: 25px 0;
    padding: 100px 0;
    background: #1A2980;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top right, rgba(38, 208, 206, 0.7), rgba(26, 41, 128, 0.7)), url("images/quotes-bg.jpg");
    background: linear-gradient(to top right, rgba(38, 208, 206, 0.9), rgba(26, 41, 128, 0.9)), url("images/quotes-bg.jpg");
    background-size: cover;
    background-position: center 40%;
    blockquote {
        margin-bottom: 0;
        color: #fff;
        border-left: 0;
        text-align: center;
        strong {
            margin-bottom: 20px;
            display: block;
        }
        .small {
            color: #fff;
        }
    }
}

.blog-posts {
    color: $text-color;
    .blog-image {
        padding: 0 4px 0 4px;
        margin-top: -11px;
        img {
            object-fit: cover;
            border-radius: 2px;
        }
    }
    h2 {
        margin-bottom: 50px;
        font-weight: 700;
    }
    h4 {
        font-weight: 700;
        margin-bottom: 5px;
    }
    h5 {
        margin-top: 5px;
        margin-top: 5px;
    }
    .blog-entry-link {
        color: $text-color;
    }
    .blog-entry {
        border: 1px solid #eee;
        @include shadow(1);
        transition: all 0.3s ease;
        &:hover {
            @include shadow(2);
        }
    }
    .all-blog-posts {
        padding: 25px 0;
        i {
            margin-left: 5px;
        }
    }
}

.blog-content {
    blockquote {
        font-size: $font-size-base;
    }
    .twitter-tweet {
        display: block;
        margin: 40px auto !important;
    }
    .share-page {
        margin-top: 50px;
        color: $text-color;
        border-radius: 5px;

        a {
            font-weight: 700;
            color: $brand-primary;
            margin-left: 10px;
        }
    }
}


/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm-min) {

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md-min) {
    .blog-posts {
        .blog-image {
            padding-right: $grid-gutter-width / 2;
            margin-bottom: -11px;
        }
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: $screen-lg-min) {

}
