---
import { Image } from "astro:assets";

const { href = '', class: className = '', icon } = Astro.props as any;
---

<a
  href={href}
  target={href ? '_blank' : undefined}
  class={`${className} group hover:underline px-1`}
>{icon && (
  <Image
    src={icon}
    alt=""
    aria-hidden="true"
    class="inline-block mr-1 h-[0.8em] w-[0.8em] align-[-0.0625em] pointer-events-none select-none"
 />
)}<slot /></a>
