(logging) {
	log {
    output stdout
    format json
    level INFO
	}
}

{$DOMAIN:localhost} {
  reverse_proxy kubo:8080

  import logging
}

:8080 {
  reverse_proxy kubo:8080

  import logging
}

:5001 {
  reverse_proxy kubo:5001

  import logging
}
