{% include header.html %}

{% include jumbotron-home.html %}

{% include projects.html limit=3 %}

<div class="quotes">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-push-1">
                <blockquote>
                    <strong>
                        In my walks, every man I meet is my superior in some way, and in that I learn from him.
                    </strong>
                    <p class="small">
                        Ralph Waldo Emerson
                    </p>

                </blockquote>
            </div>
        </div>
    </div>
</div>

{% include blog_posts.html limit=3 %}

{% include footer.html %}
