---
import "@/styles/global.css";
import SEO from "@/components/SEO.astro";

export interface Props {
  title: string;
  description?: string;
  image?: string;
  imageAlt?: string;
  type?: 'website' | 'article' | 'profile';
  canonicalURL?: URL | string;
  publishedTime?: string;
  modifiedTime?: string;
  author?: string;
  tags?: string[];
}

const { title, ...seoProps } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		<link rel="manifest" href="/site.webmanifest">
		<meta name="viewport" content="width=device-width" />
		<SEO title={title} {...seoProps} />
	</head>
	<body class="bg-neutral-900">
		<div class="container max-w-3xl px-3 py-3 mx-auto min-h-screen flex flex-col">
			<header class="flex justify-between">
				<a href="/" class="font-mono text-neutral-100 text-md">
					<span class="text-neutral-500">&gt;</span>jw
				</a>
				<div class="relative group">
					<input type="checkbox" id="menu-toggle" class="peer sr-only">
					<label
						for="menu-toggle"
						class="cursor-pointer font-mono text-neutral-500 text-md px-1 hover:bg-neutral-100 hover:text-neutral-900 peer-checked:bg-neutral-100 peer-checked:text-neutral-900 group-hover:bg-neutral-100 group-hover:text-neutral-900"
					>
						/menu
					</label>
					<div
						class="absolute right-0 z-50 border border-neutral-100 bg-neutral-900 shadow-lg invisible peer-checked:visible group-hover:visible"
					>
						<ul>
							<li>
								<a href="/" class="block px-1 text-right font-mono text-neutral-200 hover:bg-neutral-100 hover:text-neutral-900">
									/
								</a>
							</li>
							<li>
								<a href="/writing" class="block px-1 text-right font-mono text-neutral-200 hover:bg-neutral-100 hover:text-neutral-900">
									/writing
								</a>
							</li>
							<!-- <li> -->
							<!-- 	<a href="/now" class="block px-1 text-right font-mono text-neutral-200 hover:bg-neutral-100 hover:text-neutral-900"> -->
							<!-- 		/now -->
							<!-- 	</a> -->
							<!-- </li> -->
							<!-- <li> -->
							<!-- 	<a href="/gratitude" class="block px-1 text-right font-mono text-neutral-200 hover:bg-neutral-100 hover:text-neutral-900"> -->
							<!-- 		/gratitude -->
							<!-- 	</a> -->
							<!-- </li> -->
						</ul>
					</div>
				</div>
			</header>

			<main class="font-mono text-neutral-100 flex-1">
				<slot />
			</main>

			<footer class="flex justify-between pt-16">
				<p class="font-mono text-neutral-700 opacity-40">
					c. {new Date().getFullYear()}
				</p>

				<p class="font-mono text-neutral-600 opacity-40">
					made with &lt;3
				</p>
			</footer>
		</div>

	</body>
</html>
